In [1]:
import pandas as pd

In [2]:
metrics_df = pd.read_csv('metrics.csv')

In [34]:
avg_df = metrics_df.mean(axis=0).to_frame().T.drop(['Unnamed: 0'], axis=1)
avg_df.insert(0,'exp_name', 'name1_avg')
std_df = metrics_df.std(axis=0).to_frame().T.drop(['Unnamed: 0'], axis=1)
std_df.insert(0,'exp_name', 'name1_std')

In [36]:
pd.concat((avg_df, std_df), ignore_index=True)

,exp_name,ssim,mse,nmse,psnr,mae,ssim_clean_mask,mse_clean_mask,nmse_clean_mask,psnr_clean_mask,mae_clean_mask
0,name1_avg,0.664477,140407.458333,0.197031,16.623840,157.063985,0.697088,268700.751042,0.628904,16.902803,281.670938
1,name1_std,0.065627,33043.192383,0.047933,3.160755,22.023725,0.058382,67570.962316,0.118431,3.231879,34.342644

In [37]:
avg_df = metrics_df.mean(axis=0).to_frame().T.drop(['Unnamed: 0'], axis=1)
std_df = metrics_df.std(axis=0).to_frame().T.drop(['Unnamed: 0'], axis=1)

In [53]:
std_df

,ssim,mse,nmse,psnr,mae,ssim_clean_mask,mse_clean_mask,nmse_clean_mask,psnr_clean_mask,mae_clean_mask
0,0.065627,33043.192383,0.047933,3.160755,22.023725,0.058382,67570.962316,0.118431,3.231879,34.342644

In [51]:
std_df.apply(lambda x: f"{float(x):.1e}").apply(lambda x: f"{float(x)}")
avg_df.apply(lambda x: f"{float(x):.1e}").apply(lambda x: f"{float(x)}")

/tmp/ipykernel_20511/2212710484.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  std_df.apply(lambda x: f"{float(x):.1e}").apply(lambda x: f"{float(x)}")
/tmp/ipykernel_20511/2212710484.py:2: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  avg_df.apply(lambda x: f"{float(x):.1e}").apply(lambda x: f"{float(x)}")

ssim                   0.66
mse                140000.0
nmse                    0.2
psnr                   17.0
mae                   160.0
ssim_clean_mask         0.7
mse_clean_mask     270000.0
nmse_clean_mask        0.63
psnr_clean_mask        17.0
mae_clean_mask        280.0
dtype: object

In [54]:
formatted_data = {col: f"{avg:.2f} ± {std:.2f}" for col, avg, std in zip(avg_df.columns, avg_df.iloc[0], std_df.iloc[0])}
formatted_df = pd.DataFrame([formatted_data])

In [55]:
formatted_data

{'ssim': '0.66 ± 0.07',
 'mse': '140407.46 ± 33043.19',
 'nmse': '0.20 ± 0.05',
 'psnr': '16.62 ± 3.16',
 'mae': '157.06 ± 22.02',
 'ssim_clean_mask': '0.70 ± 0.06',
 'mse_clean_mask': '268700.75 ± 67570.96',
 'nmse_clean_mask': '0.63 ± 0.12',
 'psnr_clean_mask': '16.90 ± 3.23',
 'mae_clean_mask': '281.67 ± 34.34'}

In [4]:
import numpy as np
std_df = metrics_df.std(axis=0).to_frame().T.drop(['Unnamed: 0'], axis=1)
n = len(metrics_df)
critical_value = 2.042
confidence_interval = critical_value * std_df / np.sqrt(n)

In [5]:
confidence_interval

,ssim,mse,nmse,psnr,mae,ssim_clean_mask,mse_clean_mask,nmse_clean_mask,psnr_clean_mask,mae_clean_mask
0,0.077371,38956.246867,0.056511,3.72637,25.964855,0.068829,79662.735323,0.139624,3.810221,40.488234

In [6]:
std_df

,ssim,mse,nmse,psnr,mae,ssim_clean_mask,mse_clean_mask,nmse_clean_mask,psnr_clean_mask,mae_clean_mask
0,0.065627,33043.192383,0.047933,3.160755,22.023725,0.058382,67570.962316,0.118431,3.231879,34.342644